* {
    box-sizing: border-box;
}

.div1 {
    border: 2px solid black;
    background-color: yellow;
    width: 20%;
    height: 800px;
    float: left;
    margin: 2em;
}

.div2 {
    border: 2px solid black;
    background-color: orangered;
    width: 20%;
    height: 800px;
    float: left;
    margin: 2em;
}

.div3 {
    border: 2px solid black;
    background-color: rgb(57, 175, 57);
    width: 20%;
    height: 800px;
    float: right;
    margin: 2em;
}

.div4 {
    border: 2px solid black;
    background-color: rgb(23, 23, 255);
    width: 20%;
    height: 800px;
    float: right;
    margin: 2em;
}